<!DOCTYPE html> 
<html lang="en"> 
  {% include _head.html %}
  {% include _navigation_main.html %}
  <body>
    {% include _header.html %}
    <div class="pam tc" style="padding-top:5rem;">
      <h1>{{ page.title }}</h1>
      <h2 class="fw4 f6 f8-ns ttu">{{ page.subtitle }}</h2>
      <ul class="roles">
        {% for role in page.roles %}
          <li class="proj-label">
            {{role}}
          </li>
        {% endfor %}
      </ul>
    </div>
    <article class="phm phxl-m phxxl-l pvxs-ns">
    {{ content }}
    <div class="fr tr pvl">
        <h4 class="fw4 f6 f6-ns ttu">GET IN TOUCH</h4>
        <small>
            <a class="button" href="mailto:alex@collectivelymade.com">alex@collectivelymade.com</a>
        </small>
    </div>
    <div class="cf"></div>
    </article>
  </body>
  {% include _footer.html %}
</html>
